@import "global/global.css";
@import "utilitarios/colors.css";
@import "utilitarios/formulario.css";
@import "utilitarios/componentes.css";
@import "utilitarios/tipografia.css";
@import "home/introducao.css";
@import "home/tecnologia.css";
@import "home/parceiros.css";
@import "home/depoimento.css";
@import "home/seguros.css";
@import "bicicletas/bicicletas-lista.css";
@import "global/header.css";
@import "global/footer.css";
@import "termos/termos.css";
@import "seguros/vantagens.css";
@import "seguros/perguntas.css";
@import "bicicletas/bicicletas.css";
@import "bicicleta/bicicleta.css";
@import "bicicleta/seguro.css";
@import "contato/contato.css";
@import "contato/loja.css";
@import "orcamento/orcamento.css";


