.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.ponto-amarelo{
  color: var(--p1);
}

.btn-amarelo{
    display: inline-block;
    padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--p5);
font: 600 1.125rem/1.35 "Poppins",
}

.btn-amarelo:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media(max-width:600px){
  .btn-amarelo{
    padding: 12px 16px;
    font-size: 16px;
  }
  }