.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.ponto-amarelo {
  color: var(--p1);
}

.btn-amarelo {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--p5);
  font: 600 1.125rem/1.35 "Poppins";
  max-width: max-content;
  align-self: end;
  border: none;
  cursor: pointer;
}

.btn-amarelo:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn-amarelo.secundario {
  background: var(--c10);
  color: var(--c2);
}

.btn-amarelo.secundario:hover {
  background: var(--c9);
}

.btn-amarelo.seta {
  display: flex;
  align-items: center;
}

.btn-amarelo.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("/img/icones/seta.svg");
  transition: transform 0.2s;
}

.btn-amarelo.seta:hover::after {
  transform: translateX(4px);
}

.titulo-bg {
  background-color: var(--c11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p{
  margin-bottom: 4px;
}

.titulo{
    background: url("../../img/dec/top-right.svg") no-repeat top right 20px;
}

@media (max-width: 800px) {
  .titulo-bg{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p{
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .btn-amarelo {
    padding: 12px 16px;
    font-size: 16px;
  }
}
