.footer-bg{
  background-color: var(--c12);
}

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 2fr;
  gap: 40px;
}

.footer-contato ul{
  margin-bottom: 32px;
}
.footer li{
  margin-bottom: 16px;
}

.footer-contato li:nth-child(even):after{
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--c11);
  margin-top: 16px;
}

.footer h3{
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer-redes{
  display: flex;
  gap: 32px;
}

.footer-direitos{
  margin-top: 40px;
  grid-column: 1/3;
}

.footer a:hover {
  color: var(--w);
}
@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
  }
}
