.depoimento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  overflow: hidden;
}
.depoimento-conteudo{
  align-self: end;
  padding: 40px 40px 80px 80px ;
   background:url("../../img/dec/bottom-right-p.svg") no-repeat bottom 40px
    right 20px;
}
.depoimento p{
    width: 32ch;
  font-family: "Merriweather",serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}
.depoimento img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento p::before,
.depoimento p::after{
  position: absolute;
  content: '”';
  font-size: 5rem;
  color: var(--p2);
}

.depoimento p::before{
  content: '“';
  top: -20px;
  left: -50px;
}

@media(min-width:1200px){
.depoimento img{
  max-height: 520px;
}
}
@media(max-width:800px){
  .depoimento{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img{
    max-height: 200px;
  }
}