.intro-bg {
  background: var(--c12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 160px left 20px ;
  box-shadow: inset 0 -120px white;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.conteudo-intro {
  align-self: end;
  padding-bottom: 200px;
}
.intro h1 {
  margin-bottom: 32px;
}
.intro p {
  margin-bottom: 20px;
}
.intro h1 {
  color: var(--w);
}
.intro p {
  color: var(--c5);
}
.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media (max-width: 1200px) {
  .intro h1 {
    font-size: 48px;
  }
  .intro p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .intro-bg {
    background-color: var(--c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--w);
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .conteudo-intro {
    padding: 0px;
  }
  .intro p {
    font-size: 16px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}

