.seguros-bg {
  background-color: var(--c11);
}

.seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  gap: 40px;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-item {
  background-color: var(--c12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.seguros-item h3 {
  margin-bottom: 40px;
}

.seguros-item span {
  grid-column: 2;
  display: block;
  justify-self: end;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li + li {
  margin-top: 20px;
}

.seguros-item a {
  grid-column: 1/-1;
  justify-self: start;
}

.seguros-item li {
  display: flex;
  align-items: center;
  position: relative;
}
.seguros-item li::before {
  content: "";
  width: 13px;
  height: 9px;
  left: -21px;
  position: absolute;
  background-image: url("/img/icones/lista.svg");
}
@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
