.tecno-bg{
  background-color: var(--c11);
  box-shadow: inset 0 80px var(--w),inset 0 -80px var(--w);
}

.tecno{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

}

.tecno-conteudo{
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecno-conteudo > span{
  display: block;
  margin-bottom: 20px;
}
.tecno-conteudo h2{
  margin-bottom: 32px;
}
.tecno-conteudo > p{
  margin-bottom: 20px;
}
.link {
  margin-bottom: 80px;
}
.link{
  display: block;
  text-transform: uppercase;
  justify-self: start;
}

.link:hover{
  color: var(--w);
}

.link::after{
  content: "";
  display: block;
  background-color: currentColor;
  width: 100%;
  height: 4px;
}

.tecno-vantagens{
  display: flex;
  gap: 40px;
}

.tecno-vantagens h3{
margin-bottom: 8px;
width: max-content;
}

.tecno-vantagens img{
margin-bottom: 8px;
width: 24px;
}

.tecno-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}





@media(max-width:800px){
  .tecno-bg{
    box-shadow: initial;
  }
  .tecno{
    grid-template-columns: 1fr;
  }
  .tecno-conteudo{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecno-img img{
    display: none;
  }
  .tecno-conteudo a{
    margin-bottom:60px;
  }
}

@media(max-width:600px){
  .tecno-vantagens{
    flex-direction: column;
  }
}